.section-customer__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--tittle-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.2;
  }
}

.section-customer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
}

.section-customer__item {
  height: 92px;
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.section-customer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.section-customer__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .section-customer__link:hover &,
  .section-customer__link:focus & {
    fill: var(--accent-color);
  }
}
