.section-feature {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.section-feature__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.section-feature__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--team-bgr-color);
  border-radius: 4px;
}

.section-feature__title {
  margin-bottom: 10px;
  margin-top: 0;

  color: var(--tittle-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.section-feature__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}
