.form-policy {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-policy__link {
  color: var(--accent-color);
}

.form-policy__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form-policy__check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;

  margin-right: 7px;

  border: 2px solid var(--tittle-color);
  border-radius: 3px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-policy__checkbox:checked + & {
    background-color: var(--accent-color);
    border: none;
  }
}

.form-policy__icon {
  fill: var(--primery-bg-color);
}
