.modal {
  position: relative;
  width: 290px;
  height: 640px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--primery-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;

  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  outline: transparent;

  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primery-bg-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal-form__title {
  margin: 0;
  padding: 0;
  padding: 40px;
  padding-bottom: 10px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--tittle-color);

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__btn {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  &:hover,
  &:focus {
    background-color: var(--button-bgr-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
