.section-team {
  background-color: var(--team-bgr-color);
}

.section-team__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--tittle-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 1.2;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.section-team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.section-team__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }

  background-color: var(--primery-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team__foto {
  width: 100%;
  display: block;
  margin-top: 0px;
}
