:root {
  --primery-bg-color: #ffffff;
  --footer-bgr-color: #2f303a;
  --accent-color: #2196f3;
  --team-bgr-color: #f5f4fa;
  --tittle-color: #212121;
  --text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --button-bgr-color: #188ce8;
  --portfolio-border-color: #eeeeee;
  --header-border-color: #ececec;
}
